.Normal_text {font-family:'Open Sans';font-weight:600;font-style:normal;font-size:10pt;text-decoration:none;text-transform: none;color:#2F343A;letter-spacing:0em;}
.Heading_1 {font-family:'Minion Pro Semibold Bold';font-weight:bold;font-style:normal;font-size:27pt;text-decoration:none;text-transform: none;color:#2F343A;letter-spacing:-0.01em;}
.Heading_3 {font-family:Times New Roman;font-size:24.53pt;letter-spacing:-0.004em;}
